<!-- This partial implements the guest header. -->

<nav class="navbar navbar-expand-sm bg-light navbar-light shadow-sm headerGuest" <%= hide %>>
    <a class="navbar-brand font-rubik font-black ls-1 text-uppercase ls-2 font-weight-bold" href="/">
        <img src="/img/light.png" alt="light" height="32" width="32">
        <span class="d-inline-block align-middle ml-1">Koble</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Information</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="information">Donor Information</a>
                    <a class="dropdown-item" href="about">About Us</a>
                    <a class="dropdown-item" href="contact">Contact Us</a> -->
            <li class="nav-item">
                <a class="nav-link" href="signup">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="signin">Existing Users</a>
            </li>
        </ul>
    </div>

</nav>
