<%- include('./partials/initial', {title: 'Home', status: 'guest'}) %>

    <div class="mx-auto bg-light w-50 mt-0 mb-3 px-3 py-3 rounded shadow-sm" style="min-width: 350px;">

        <h2 class="font-rubik text-center"><strong class="font-red">Connecting</strong> the future</h2>

        <hr/>

        <p>We at Koble are all about connection. Connecting students with people in industry. In order
            to inspire and provide direction to students who currently lack understanding of what certain careers
            actually entail. Also to give people who are in industry an opportunity to share their experiences
            and connect with some of the best up and coming students.</p>

        <div class="row px-3 mt-0">
            <div class="media col-lg-6">
                <img src="img/team.png" alt="Friends" class="mr-3" style="width:30px;">

                <div class="media-body">
                    <h5 style="font-size: 1.2em; font-weight: 600;">Connect with industry</h5>
                    <p>Want to know what the future holds?<br>
                        Want to be apart of industry events?<br>
                        Want to gain valuable skills?</p>
                </div>
            </div>
            <div class="media col-lg-6">
                <img src="img/hackers.jpg" alt="Talent" class="mr-3" style="width:30px;">

                <div class="media-body">
                    <h5 style="font-size: 1.2em; font-weight: 600;">Connect with talent</h5>
                    <p>Want to connect with new talent?<br>
                        Want to share your experience?<br>
                        Want to help future you's?</p>
                </div>
            </div>

        </div>

        <ul class="nav nav-pills">
            <li class="nav-item mx-auto">
                <h6 class="mb-0" style="font-size: 1em;"><a class="nav-link active" href="information">Find out more</a></h6>
            </li>
        </ul>

        <hr/>

        <h3 class="text-center mb-3 font-rubik" style="font-size: 1.75em;">Get involved in this amazing community</h3>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item mx-auto">
                <h6 class="mb-0" style="font-size: 1em;"><a class="nav-link active px-3 py-2 bg-success" href="signup">Create an account</a></h6>
            </li>
            <li class="nav-item mx-auto">
                <a class="nav-link" href="signin">Already have an account?</a>
            </li>
        </ul>
    </div>

<%- include('./partials/final') %>